/* src/css/BottomNav.css */
.bottom-nav {
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom, 0) + 5px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 420px;
    height: 50px;
    padding: 0 10px env(safe-area-inset-bottom, 10px);
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

/* Остальные стили остаются без изменений */

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.nav-item .icon {
    font-size: 20px;
    transition: color 0.3s, transform 0.2s;
    color: #000;

}

/* 
.bottom-nav.light .nav-item .icon {
    color: #fff;
} */

.bottom-nav.dark .nav-item .icon {
    color: #666;
}

.nav-item:hover .icon {
    transform: scale(1.2);
}

.nav-item.active {
    background-color: #000000;
    /* Фон становится белым */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item.active .icon {
    color: #ffffff;
    /* Иконка становится черной */
}

@media (max-width: 390px) {
    .bottom-nav {
        height: 50px;
    }

    .nav-item {
        width: 40px;
        height: 40px;
    }

    .nav-item .icon {
        font-size: 20px;
    }
}

.bottom-nav {
    /* ...существующие стили... */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Когда нужно скрыть */
.bottom-nav.hidden {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    pointer-events: none;
}